* {
  margin: 0;
}
body {
  width: 1440px;
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
}

/* Nav */

.a-home {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #2f2e41;
  border-bottom: 4px solid #9e99ff;
}

.a-home:visited {
  color: #2f2e41;
}

.a-nav {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #9893a3;
}

.a-nav:visited {
  color: #9893a3;
}

.flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  gap: 36px;
}

a {
  text-decoration: none;
}

.logo {
  width: 78.08px;
  height: 28.49px;
}

nav {
  width: 1280px;
  height: 51px;
  margin: 0 auto;
}

.button {
  gap: 10px;
}

.nav-btn {
  padding: 16px 30px;
  background: #6c63ff;
  border: 1px solid #6c63ff;
  border-radius: 2px;
  color: white;
}

.nav-btn:first-child {
  background: white;
  color: #6c63ff;
}

/* Main */

.banner {
  margin: 0 auto;
  margin-top: 30px;
  width: 1180px;
  height: 559px;
}
.text {
  
  padding: 0px;
  gap: 24px;
}

.text > h1 {
  width: 489px;
  height: 264px;
  font-weight: 700;
  font-size: 86px;
  line-height: 88px;
  letter-spacing: -1px;
  font-family: "Playfair Display", serif;
}

.text > p {
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  color: #9893a3;
}

.text > button {
  padding: 16px 30px;
  gap: 10px;
  width: 140px;
  height: 51px;
  background: #6c63ff;
  border: 1px solid #6c63ff;
  border-radius: 2px;
  color: white;
}

/* Partners */
.logos {
  width: 900px;
  height: 35.42px;
  gap: 96px;
  margin: 50px auto;
}

/* Sections*/

.section {
  width: 1180px;
  margin: 50px auto;
}

.section-text > h1 {
  width: 400px;
  height: 128px;
  font-weight: 700;
  font-size: 60px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #2f2e41;
}

.section-text > p {
  width: 400px;
  height: 102px;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  color: #9893a3;
}

.section-text > a {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -1px;
  color: #2f2e41;
}

.learnmore:visited {
  color: #2f2e41;
}

.a-div {
  position: relative;
}

.bottom-border {
  width: 86px;
  height: 8px;
  background-color: rgba(197, 194, 255, 0.5);
  position: absolute;
  z-index: -10;
  top: 60%;
}

/* Price */

.left-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 363px;
  height: 421px;
  padding: 46px 88px;
  gap: 30px;
}

.center-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 88px;
  gap: 40px;
  width: 363px;
  height: 502px;
  background: #6c63ff;
  border-radius: 2px;
  color: white;
}

.price > p {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

.price > h1 {
  font-family: "Playfair Display";
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #2f2e41;
  text-align: center;
  margin: 100px auto;
}

.left-right > p {
  color: #717082;
}

span {
  font-weight: 700;
  font-size: 50px;
  line-height: 56px;
  color: black;
}

#white {
  color: white;
}

.left-right > button {
  padding: 16px 30px;
  width: 140px;
  height: 51px;
  border: 1px solid #6c63ff;
  border-radius: 2px;
  color: #6c63ff;
  background: #fff;
}

.center-div > button {
  padding: 16px 30px;
  width: 186px;
  height: 54px;
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 2px;
  color: #6c63ff;
}

/* Info  */

.btn {
  padding: 16px 30px;
  gap: 10px;
  width: 115px;
  height: 51px;
  border: 1px solid #6c63ff;
  border-radius: 2px;
  color: #6c63ff;
  background: white;
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 679px;
  width: 1180px;
  height: 64px;
  margin: 90px auto;
}

.heading > h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #2f2e41;
  font-family: "Playfair Display";
}

.info {
  gap: 45px;
  width: 1180px;
  height: 422px;
  margin: 0 auto;
  margin-bottom: 68px;
}

.info-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 26px;
}

.info-div > h1 {
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -1px;
  color: #2f2e41;
}

.info-div > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #9893a3;
}

/* Contact */

.contact {
  width: 900px;
  height: 296px;
  background: #2f2e41;
  border-radius: 2px;
  margin: 70px auto;
}

.contact-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 200px;
  width: 732px;
  height: 128px;
  margin: auto;
}

.contact-div > h1 {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 50px;
  line-height: 56px;
  color: #ffffff;
}

.contact-div > button {
  padding: 16px 30px;
  width: 186px;
  height: 54px;
  background: #6c63ff;
  border: 1px solid #6c63ff;
  border-radius: 2px;
}

/* footer */

footer {
  position: relative;
  margin-bottom: 100px;
}
.link > ul > li {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #717082;
  margin-top: 8px;
  margin-bottom: 8px;
}

.link > ul > li:first-child {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #2f2e41;
}

.link {
  display: flex;
  align-items: flex-start;
  width: 900px;
  height: 212.55px;
  position: absolute;
  top: 244px;
  bottom: 140px;
  left: 240px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  gap: 948px;
  position: absolute;
  width: 1280px;
  height: 23.3px;
  left: 80px;
  top: 534px;
}

.footer-bottom > p {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #9893a3;
}

@media (max-width: 480px) {
  * {
    height: auto;
    /* margin: 0 auto; */
  }

  body {
    width: 100%;
    padding: 4px;
  }
  .flexbox {
    flex-wrap: wrap;
  }

  nav {
    width: 100%;
    margin: 0;
    
  }
  nav a {
    display: none;
  }
  nav button {
    display: none;
  }
  .logo {
    margin: 0;
  }

  .section {
    padding: 8px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }

  .text > h1 {
    width: 100%;
    height: 264px;
    font-weight: 700;
    font-size: 60px;
    line-height: 64px;
    letter-spacing: -1px;
    color: #2f2e41;
  }
  
  .text > p {
    width: 100%;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #9893a3;
  }
  
  .logo-container {
    width: 100%;
    margin-bottom: 70px;
  }

  .logos {
    width: 350px;
    gap: 5px;
  }

  .price {
    width: 100%;
    margin: 0 auto;
  }
  .heading {
    width:100%;
    height: auto;
    gap: 20px;
    justify-content: left;
    flex-wrap: wrap;
  }

  .info {
    width: 100%;
    height: auto;
    justify-content: center;
  }
  .contact {
    width: 100%;
  }
  footer {
    top: 150px;
    height: auto;
  }
  .link {
    width: 100%;
    position: unset;
    justify-content: unset;
  }
  .footer-bottom {
    width: 100%;
    gap: 100px;
    top: 350px;
    left: 0;
  }

  
  .img-width {
    width: 100%;
  }
}
@media (max-width: 768px) and (min-width: 481px) {
  * {
    height: auto;
    /* margin: 0 auto; */
  }

  body {
    width: 100%;
  }

  header {
    padding: 6px;
  }

  nav {
    width: 80%;
  }
  nav a {
    display: none;
  }
  nav button {
    /* display: none; */
  }
  .logo {
    margin: none;
  }

  .section {
    padding: 8px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
  .img-width {
    width: 100%;
  }

  .logo-container {
    width: 100%;
  }

  .logos {
    width: 100%;
    margin: 50px auto;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
  }

  .price {
    width: 100%;
    /* margin: 0 auto; */
  }
  .price div {
    width: 100%;
  }
  .heading {
    width: 100%;
    margin: none;
    height: auto;
    gap: 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .info {
    width: 100%;
    height: auto;
    justify-content: center;
  }

  .contact {
    width: 600px;
  }
  footer {
    top: 150px;
    height: auto;
  }
  .link {
    width: 100%;
    position: unset;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }
  .footer-bottom {
    width: 100%;
    position: absolute;
    gap: 100px;
    left: 0;
  }

  .flexbox {
    flex-wrap: wrap;
  }
}
@media (max-width: 1024px) and (min-width: 769px) {
  * {
    height: auto;
    /* margin: 0 auto; */
  }

  body {
    width: 1005;
  }

  header {
    padding: 6px;
  }

  nav {
    width: 90%;
    /* justify-content: left; */
    margin: 0 auto;
  }
  nav a {
    display: none;
  }
  nav button {
    /* display: none; */
  }
  .logo {
    margin: none;
  }

  .section {
    padding: 4px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
  .img-width {
    width: 400px;
  }

  .logo-container {
    width: 100%;
  }

  .logos {
    width: 90%;
    margin: 50px auto;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
  }

  .price {
    width: 100%;
    /* margin: 0 auto; */
  }
  .container {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 500px);
    grid-gap: 25px;
    margin: 0 auto;
  }

  .grid-left {
    grid-column-start: 1;
    justify-self: center;
  
  }
  .grid-right {
    grid-column-start: 2;
    justify-self: center;
  }

  .center-div {
    grid-row-start: 2;
    grid-column-start: span 2;
    justify-self: center;
  }

  .heading {
    width: 100%;
    margin: none;
    height: auto;
    gap: 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .info {
    /* padding: 8px; */
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    /* gap: 40px; */
    justify-content: center;
  }

  .contact {
    width: 90%;
  }
  footer {
    top: 150px;
    height: auto;
  }
  .link {
    width: 100%;
    position: unset;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }
  .footer-bottom {
    width: 100%;
    position: absolute;
    gap: 100px;
    left: 0;
  }

  .flexbox {
    flex-wrap: wrap;
  }
}
@media (max-width: 1200px) and (min-width: 1025px) {
  * {
    height: auto;
    /* margin: 0 auto; */
  }

  body {
    width: 100%;
  }

  header {
    padding: 6px;
  }

  nav {
    width: 90%;
    /* justify-content: left; */
    margin: 0 auto;
  }
  nav a {
    display: none;
  }
  nav button {
    /* display: none; */
  }
  .logo {
    margin: none;
  }

  .section {
    /* padding: 4px; */
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
  .img-width {
    width: 500px;
  }

  .logo-container {
    width: 100%
  }

  .logos {
    width: 90%;
    margin: 50px auto;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
  }

  .price {
    width: 100%;
    /* margin: 0 auto; */
  }
  .container {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(2, 500px);
    grid-gap: 50px;
  }

  .grid-left {
    grid-column-start: 1;
    justify-self: center;
  
  }
  .grid-right {
    grid-column-start: 2;
    justify-self: center;
  }

  .center-div {
    grid-row-start: 2;
    grid-column-start: span 2;
    justify-self: center;
  }

  .heading {
    width: 100%;
    margin: none;
    height: auto;
    gap: 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .info {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: start;
    gap: 180px;
  }
  
  

  .contact {
    width: 90%;
  }
  footer {
    top: 150px;
    height: auto;
  }
  .link {
    width: 100%;
    position: unset;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }
  .footer-bottom {
    width: 100%;
    position: absolute;
    gap: 100px;
    left: 0;
  }

  .flexbox {
    flex-wrap: wrap;
  }
}
